*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-image:linear-gradient(black,grey);
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.lista-cria{
    color: aquamarine;
    font-size: 24px;


}
.lista-de-tetris{
    display: inline-block;
    color: white;
    padding: 15px;
}
.sas{
    background-image: linear-gradient(grey,white);
    height: 500px;
    padding:100px;
    color: white;
    display: flex;

}
.ses{
     padding: 15px;
}
.sis{
    padding: 15px;
}

.estudante{
    width: 30%;
}